/*css for login*/
body{
    margin: 0;
    padding: 0;
    background-image:url(image/test.jpg);
    font-family: sans-serif;
    background-position: center;
    height: 100vh; 
    background-size: cover;
}

form{
    width: 500px;
    padding:30px;
    background-color:rgb(247, 249, 252) ;
    border-radius: 15px;
  }
  
  h2{
    text-align: center;
    margin-bottom: 40px;
    color: rgb(252, 249, 249);
  
  }
  
  input{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1.5px solid #3498db;
    width: 350px;
    padding: 5px;
    outline: none;
    color: rgb(36, 21, 243);
    border-radius: 24px; 
    transition: 0.25s;
  }
  
  input:focus{
    width: 430px;
    border: color #f4f5f7;
  }
  
  label{
    color: rgb(247, 240, 240);
    font-size: 17px;
    padding-left: 17ch;
    
  }
  
  button{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1.5px solid #f0f3f8;
    width: 100px;
    padding: 5px;
    outline: none;
    color:rgb(255, 255, 255);
    border-radius: 24px; 
    transition: 0.25s;
  }
  
  button:hover{
    opacity: .4;
    
  }
  
  .error{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
    border-radius: 10px;
    margin: 15px auto;
  }
  .success{
    background: #832828;
    color: #fdfffdfd;
    padding: 10px;
    width: 95%;
    border-radius: 10px;
    margin: 15px auto;
  }
  
  a{
    /* padding: 28%; */
    color:rgb(141, 134, 240);
    
  }
   
 
